{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Proyectos{% endblock titulo %}
{% block body %}

    <div class="text-center pb-4">
        <button class="btn btn-primary btn-block" type="button" onclick="abrir_modal_creacion('{% url 'AdministracionBTM:crear_proyecto' %}')">Crear Proyecto</button>
    </div>

    {% if proyectos %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Proyectos</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>DESCRIPCIÓN</th>
                            <th>CATEGORÍA</th>
                            <th>CLIENTE</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for proyecto in proyectos %}
                            <tr>
                                <td>{{ proyecto.idproy }}</td>
                                <td>{{ proyecto.nombre }}</td>
                                <td>{{ proyecto.descripcion }}</td>
                                <td>{{ proyecto.idcateg }}</td>  
                                <td>{{ proyecto.ci_ruc }}</td>           
                                <td>
                                    <button onclick="abrir_modal_edicion('{% url 'AdministracionBTM:editar_proyecto' proyecto.idproy %}')" class='btn btn-primary btn-sm'>EDITAR</button>
                                    <a href="{% url 'AdministracionBTM:eliminar_proyecto' proyecto.idproy %}" class="btn btn-danger btn-sm">ELIMINAR</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen proyectos registrados</h1>
    {% endif %}
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
            $(this).modal('show');
            });
        }
        function abrir_modal_creacion(url){
            $('#creacion').load(url,function(){
            $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}