{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Usuarios{% endblock titulo %}
{% block body %}

    <div class="text-center pb-4">
        <button class="btn btn-primary btn-block" type="button" onclick="abrir_modal_creacion('{% url 'Usuario:crear_usuario' %}')">Crear Usuario</button>
    </div>

    {% if usuarios %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Usuarios</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>NOMBRE DE USUARIO</th>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>CORREO ELECTRÓNICO</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for usuario in usuarios %}
                            <tr>
                                <td style="text-transform: none;">{{ usuario.username }}</td>
                                <td>{{ usuario.nombres }}</td>
                                <td>{{ usuario.apellidos }}</td>  
                                <td style="text-transform: lowercase;">{{ usuario.email }}</td>      
                                <td>
                                    <button onclick="abrir_modal_edicion('{% url 'Usuario:editar_usuario' usuario.username %}')" class='btn btn-primary btn-sm'>EDITAR</button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen usuarios registrados</h1>
    {% endif %}
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
            $(this).modal('show');
            });
        }
        function abrir_modal_creacion(url){
            $('#creacion').load(url,function(){
            $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}

