<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button class="close" type="button" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h2 class="modal-title">Edición de Usuario: {{ object }}</h2>            
        </div>
        <form action="{% url 'Usuario:editar_usuario' object.username %}" method="POST">
            {% csrf_token %}
            <div class="modal-body">
                {% if error %}
                    <h2>{{ error }}</h2>
                {% else %}
                    <div class="card">
                        <div class="card-header">
                            <strong>Formulario de Registro</strong>
                        </div>
                        <div class="card-body card-block">
                            <form action="#" method="POST" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.username.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.username }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.email.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.email }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.nombres.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.nombres }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.apellidos.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.apellidos }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.password1.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.password1 }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.password2.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.password2 }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.usuario_activo.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.usuario_activo }}</div>
                                    
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3">{{ form.usuario_administrador.label }}</div> 
                                    <div class="col-12 col-md-9">{{ form.usuario_administrador }}</div>
                                    
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-success" type="submit">Registrar</button>
                                    <a href="{% url 'Usuario:listar_usuario' %}" class="btn btn-danger">Cancelar</button></a>
                                </div>
                            </form>
                        </div>
                    </div>                
                </div>            
            {% endif %}        
        </form>
    </div>
</div>