{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Categorías{% endblock titulo %}
{% block body %}

    <div class="text-center pb-4">
        <button class="btn btn-primary btn-block" type="button" onclick="abrir_modal_creacion('{% url 'AdministracionBTM:crear_categoria' %}')">Crear Categoría</button>
    </div>

    {% if categorias %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Categorías</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>ETIQUETA</th>
                            <th>NOMBRE</th>
                            <th>DESCRIPCIÓN</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for categoria in categorias %}
                            <tr>
                                <td>{{ categoria.idcateg }}</td>
                                <td style="text-transform: uppercase;">{{ categoria.tag }}</td>
                                <td>{{ categoria.nombre }}</td>
                                <td style="text-transform: none;">{{ categoria.descripcion }}</td>       
                                <td>
                                    <button onclick="abrir_modal_edicion('{% url 'AdministracionBTM:editar_categoria' categoria.idcateg %}')" class='btn btn-primary btn-sm'>EDITAR</button>
                                    <a href="{% url 'AdministracionBTM:eliminar_categoria' categoria.idcateg %}" class="btn btn-danger btn-sm">ELIMINAR</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen categorías registradas</h1>
    {% endif %}
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
            $(this).modal('show');
            });
        }
        function abrir_modal_creacion(url){
            $('#creacion').load(url,function(){
            $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}