{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Productos{% endblock titulo %}
{% block body %}

    <div class="text-center pb-4">
        <button class="btn btn-primary btn-block" type="button" onclick="abrir_modal_creacion('{% url 'AdministracionBTM:crear_item' %}')">Crear Producto</button>
    </div>

    {% if items %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Productos</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>NOMBRE</th>
                            <th>CANTIDAD</th>
                            <th>PRECIO UNITARIO</th>
                            <th>DESCRIPCIÓN</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in items %}
                            <tr>
                                <td>{{ item.iditem }}</td>
                                <td>{{ item.nombre }}</td>
                                <td>{{ item.cantidad }}</td>
                                <td>{{ item.preciounit }}</td>
                                <td style="text-transform: none;">{{ item.descripcion }}</td>
                                <td>
                                    <button onclick="abrir_modal_edicion('{% url 'AdministracionBTM:editar_item' item.iditem %}')" class='btn btn-primary btn-sm'>EDITAR</button>
                                    <a href="{% url 'AdministracionBTM:eliminar_item' item.iditem %}" class="btn btn-danger btn-sm">ELIMINAR</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen productos registrados</h1>
    {% endif %}
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
            $(this).modal('show');
            });
        }
        function abrir_modal_creacion(url){
            $('#creacion').load(url,function(){
            $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}