{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Suscriptores{% endblock titulo %}
{% block body %}

    {% if suscriptores %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Suscriptores</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>CORREO</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for suscriptor in suscriptores %}
                            <tr>
                                <td style="text-transform: lowercase;">{{ suscriptor.correo }}</td> 
                                <td>
                                    <a href="{% url 'AdministracionBTM:eliminar_suscriptor' suscriptor.correo %}" class="btn btn-danger">Eliminar</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen cotizaciones registradas</h1>
    {% endif %}
{% endblock body %}