{% extends 'index.html' %}
{% block titulo %}BTM Motion | Listado de Cotizaciones{% endblock titulo %}
{% block body %}

    <div class="text-center pb-4">
        <button class="btn btn-primary btn-block" type="button" onclick="abrir_modal_creacion('{% url 'AdministracionBTM:crear_cotizacion' %}')">Crear Cotización</button>
    </div>

    {% if cotizaciones %}

        <div class="card">
            <div class="card-header">
                <strong class="card-title">Listado de Cotizaciones</strong>
            </div>
            <div class="table-stats order-table ov-h">
                <table class="table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>CLIENTE</th>
                            <th>MOTIVO</th>
                            <th>PRODUCTO</th>
                            <th>CONDICIÓN DE PAGO</th>
                            <th>TIEMPO ESTIMADO</th>
                            <th>OPCIONES</th>                    
                        </tr>
                    </thead>
                    <tbody>
                        {% for cotizacion in cotizaciones %}
                            {% with cotizacion.idcot|stringformat:"s" as id_cot%}
                            {% with "cot_"|add:id_cot|add:"_"|add:cotizacion.ci_ruc.nombres|add:"_"|add:cotizacion.ci_ruc.apellidos|add:".pdf" as filename %}
                            <tr>
                                <td>{{ cotizacion.idcot }}</td>
                                <td>{{ cotizacion.ci_ruc }}</td>
                                <td>{{ cotizacion.motivo }}</td>
                                <td>
                                    {% for producto in cotizacion.iditem.all %}
                                        <li>{{ producto.nombre }}</li>
                                    {% endfor %}                                    
                                </td>
                                <td style="text-transform: none;">{{ cotizacion.condicionpago }}</td>
                                <td style="text-transform: lowercase;">{{ cotizacion.tiempoestimado }}</td>  
                                <td>
                                    <button onclick="abrir_modal_edicion('{% url 'AdministracionBTM:editar_cotizacion' cotizacion.idcot %}')" class='btn btn-primary btn-sm'>EDITAR</button>
                                    <a href="{% url 'AdministracionBTM:eliminar_cotizacion' cotizacion.idcot %}" class="btn btn-danger btn-sm">ELIMINAR</a>
                                    <button onclick="abrir_modal_notificacion('{% url 'AdministracionBTM:notificar_envio_email' filename %}')" class='btn btn-light btn-sm'>ENVIAR CORREO</button>                              
                                    <a href="{% url 'AdministracionBTM:visualizar_pdf' filename %}" class='btn btn-link btn-sm' target="_blank">PDF</a>

                                </td>
                            </tr>
                            {% endwith %}
                            {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <h1>No existen cotizaciones registradas</h1>
    {% endif %}
    <div class="modal fade" id="creacion" role="dialog"></div>
    <div class="modal fade" id="edicion" role="dialog"></div>
    <div class="modal fade" id="notificacion" role="dialog"></div>

{% endblock body %}

{% block extrajs %}
    <script type="text/javascript">
        var $ = jQuery.noConflict();        
        function abrir_modal_edicion(url){
            $('#edicion').load(url, function (){
            $(this).modal('show');
            });
        }
        function abrir_modal_creacion(url){
            $('#creacion').load(url,function(){
            $(this).modal('show');
            });
        }
        function abrir_modal_notificacion(url){         
            $('#notificacion').load(url,function(){
                $(this).modal('show');
            });
        }
    </script>
{% endblock extrajs %}
        